/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4
#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define TRI     3

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        td_cp: tap_dance_cp {
            compatible = "zmk,behavior-tap-dance";
            label = "tap_dance_copy";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp C>, <&macro_cp>;
        };

        td_paste: tap_dance_paste {
            compatible = "zmk,behavior-tap-dance";
            label = "tap_dance_paste";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp V>, <&macro_paste>;
        };

        td_lgui_w: tap_dance_lguiw {
            compatible = "zmk,behavior-tap-dance";
            label = "tap_dance_lguiw";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp W>, <&macro_lgui_w>;
        };

        td_lgui_q: tap_dance_lguiq {
            compatible = "zmk,behavior-tap-dance";
            label = "tap_dance_lguiq";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&macro_lgui_q>;
        };

        td_prtscr: tap_dance_prtscr {
            compatible = "zmk,behavior-tap-dance";
            label = "tap_dance_prtscr";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp P>, <&kp P>,<&macro_prtsc>;
        };

        td_collapse_y: tap_dance_collapse {
            compatible = "zmk,behavior-tap-dance";
            label = "tap_dance_collapse";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Y>, <&kp Y>,<&macro_collapse>;
        };
    };

    macros {
        macro_cp: macro_cp {
            label = "ZM_macro_cp";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp C>
                , <&macro_release &kp LGUI>
                ;
        };

        macro_paste: macro_paste {
            label = "ZM_macro_paste";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp V>
                , <&macro_release &kp LGUI>
                ;
        };

        macro_lgui_w: macro_lgui_w {
            label = "ZM_macro_lgui_w";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp W>
                , <&macro_release &kp LGUI>
                ;
        };

        macro_lgui_q: macro_lgui_q {
            label = "ZM_macro_lgui_q";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp Q>
                , <&macro_release &kp LGUI>
                ;
        };

        macro_prtsc: macro_prtsc {
            label = "ZM_macro_prtsc";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LGUI>
                , <&macro_release &kp LSHFT>
                ;
        };

        macro_lang: macro_lang {
            label = "ZM_macro_lang";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp SPACE>
                , <&macro_release &kp SPACE>
                , <&macro_release &kp LCTRL>
                ;
        };  

        macro_collapse: macro_collapse {
            label = "ZM_macro_collapse";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp K>
                , <&macro_press &kp LGUI>
                , <&macro_press &kp N0>
                , <&macro_release &kp LGUI>
                , <&macro_release &kp LGUI>
                ;
        };
        
        macro_email: macro_email {
            label = "ZM_macro_email";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp O>
                , <&macro_release &kp O>
                , <&macro_press &kp R>
                , <&macro_release &kp R>
                , <&macro_press &kp I>
                , <&macro_release &kp I>
                , <&macro_press &kp L>
                , <&macro_release &kp L>
                , <&macro_press &kp A>
                , <&macro_release &kp A>
                , <&macro_press &kp N>
                , <&macro_release &kp N>
                , <&macro_press &kp I>
                , <&macro_release &kp I>
                , <&macro_press &kp N0>
                , <&macro_release &kp N0>
                , <&macro_press &kp N5>
                , <&macro_release &kp N5>
                , <&macro_press &kp N5>
                , <&macro_release &kp N5>
                , <&macro_press &kp AT>
                , <&macro_release &kp AT>
                , <&macro_press &kp G>
                , <&macro_release &kp G>
                , <&macro_press &kp M>
                , <&macro_release &kp M>
                , <&macro_press &kp A>
                , <&macro_release &kp A>
                , <&macro_press &kp I>
                , <&macro_release &kp I>
                , <&macro_press &kp L>
                , <&macro_release &kp L>
                , <&macro_press &kp DOT>
                , <&macro_release &kp DOT>
                , <&macro_press &kp C>
                , <&macro_release &kp C>
                , <&macro_press &kp O>
                , <&macro_release &kp O>
                , <&macro_press &kp M>
                , <&macro_release &kp M>
                ;
        }; 

        macro_id: macro_id {
            label = "ZM_macro_id";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp N3>
                , <&macro_release &kp N3>
                , <&macro_press &kp N0>
                , <&macro_release &kp N0>
                , <&macro_press &kp N7>
                , <&macro_release &kp N7>
                , <&macro_press &kp N9>
                , <&macro_release &kp N9>
                , <&macro_press &kp N3>
                , <&macro_release &kp N3>
                , <&macro_press &kp N4>
                , <&macro_release &kp N4>
                , <&macro_press &kp N4>
                , <&macro_release &kp N4>
                , <&macro_press &kp N0>
                , <&macro_release &kp N0>
                , <&macro_press &kp N6>
                , <&macro_release &kp N6>
                ;
        };  
    };

    combos {
            compatible = "zmk,combos";
                    
            COMBO(esckey, &kp ESC, 1 2)
            COMBO(langkey, &macro_lang, 13 14)
            COMBO(commakey, &kp SINGLE_QUOTE, 33 34)
            COMBO(tabkey, &kp TAB, 25 26)
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────────┬──────────╮
        //│  DELETE  │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P           │   DELETE
            &kp DELETE &td_lgui_q  &td_lgui_w &kp E     &kp R      &kp T          &kp Y      &kp U       &kp I      &kp O      &td_prtscr    &kp DELETE
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────────┼──────────┤
        //│  CTRL    │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' "          │    '
            &kp LCTRL  &ht LCTRL A  &kp S     &kp D    &ht LGUI F   &kp G          &kp H     &ht LGUI J  &kp K     &kp L      &kp SEMICOLON  &kp DOUBLE_QUOTES
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────────┼──────────┤
        //│  BSPC    │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?          │   ESC
            &kp BSPC  &ht LSHFT Z   &kp X   &td_cp    &td_paste   &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &ht LALT FSLH   &kp ESC
        //╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────────┴──────────╯
                                        &ht LALT BSPC  &lt 1 ENTER &ht LGUI SPACE &ht LSHFT BSPC &mo 2  &kp RALT
        //                             ╰──────────────┴──────────┴──────────╯  ╰──────────┴──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │  UP      │          │          │   │          │     7    │  8       │   9      │          │   DELETE │
            &none      &none      &none      &kp UP     &none      &none           &none      &kp N7    &kp N8     &kp N9      &none    &kp DELETE
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  LCTRL   │  LEFT    │  DOWN    │  RIGHT   │          │   │          │    4     │    5     │  6       │          │   ID     │
            &none      &kp LCTRL  &kp LEFT   &kp DOWN  &kp RIGHT    &none          &none     &kp N4     &kp N5     &kp N6      &none     &macro_id
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ LSHFT    │ RALT     │          │          │          │          │   │  0       │  1       │    2     │   3      │          │   EMAIL  │
            &kp LSHFT  &kp RALT   &none    &macro_collapse &none   &none          &kp N0     &kp N1     &kp N2     &kp N3      &none    &macro_email
        //╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                                &none     &none      &none         &kp RALT   &mo 3      &none
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │   !      │    @     │    #     │    $     │    %     │   │     ^    │    &     │    *     │    (     │    )     │          │
            &none      &kp EXCL    &kp AT   &kp HASH   &kp DLLR   &kp PRCNT       &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR    &none
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    ~     │          │          │          │          │   │    -     │    =     │    [     │   ]      │    \     │          │
            &none      &kp TILDE   &none      &none      &none      &none        &kp MINUS  &kp EQUAL  &kp LBKT    &kp RBKT  &kp BACKSLASH &none
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    "     │          │          │          │          │   │     _    │    +     │   {      │     }    │    |     │          │
            &none  &kp DOUBLE_QUOTES &none    &none      &none      &none        &kp UNDER   &kp PLUS   &kp LBRC   &kp RBRC   &kp PIPE      &none
        //╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                              &none    &kp LSHFT    &none          &none      &none       &none
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬─────────────┬─────────────╮
        //│ RESET    │          │          │          │          │          │              │          │          │          │  RESET      │             │
            &sys_reset  &none      &none      &none    &kp K_MUTE  &kp K_PP        &none      &none      &none      &none     &sys_reset      &none
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼─────────────┼─────────────┤
        //│BOOTLOADER│          │          │          │          │          │              │          │          │          │BOOTLOADER   │     
            &bootloader &none       &none      &none  &kp K_VOL_DN &kp K_VOL_UP     &none      &none      &none      &none     &bootloader    &none
        //├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼─────────────┼─────────────┤
        //│          │          │          │          │          │          │              │          │          │          │    
             &none      &none      &none      &none    &kp K_PREV &kp K_NEXT       &none      &none      &none      &none       &none         &none
        //╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴─────────────┴─────────────╯
                                              &none      &none      &none          &none      &none      &none
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };
    };
};